.ipynb_checkpoints/
__pycache__/
*~*
Strain_characterization*
PromoterStrength-Versus*
PromoterStrength-Versus-GCcontent.png
*.gz
.vscode
output/
bin/
lib/
lib64
pyvenv.cfg

# Ignore the generated API files and build output of sphinx documentation.
docs/_build
docs/api/*