.ipynb_checkpoints/
__pycache__/
*~*
*.gz
.vscode
output/
bin/
lib/
lib64
pyvenv.cfg
GitHub_Token.txt
*.code-workspace

# Ignore the generated API files and build output of sphinx documentation.
docs/_build
docs/api/*