#batchslopes~=0.0.7
silvio
biopython~=1.79
#cobra~=0.22
#Escher~=1.7
IPython~=7.20
joblib>=0.14
matplotlib~=3.1
numpy~=1.18
openpyxl~=3.0
pandas>=1.0
recordclass
scikit-learn>=1.0
scipy~=1.4
sphinx-rtd-theme~=0.5
Sphinx~=3.4
watermark~=2.0
#zipfile
